@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  --primary-color: #845af9;
  --seconday-color: #eaeaea;
  --tertiary-color: #000;
  --special-color: #241b4d;
  --footer-color: #11083e;
}

/* NAVBAR - RESPONSIVE */
header {
  background-color: var(--seconday-color);
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
}

nav {
  background-color: var(--seconday-color);
  display: flex;
  justify-content: space-between;
}

.left-side-menu {
  display: flex;
  gap: 50px;
}

.nav-list {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
}

nav > .left-side-menu > ul > li > a {
  color: var(--tertiary-color);
  text-transform: uppercase;
  font-size: 12.5px;
  font-weight: 600;
}

.right-side-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.right-side-menu > a {
  color: var(--tertiary-color);
}

.nav-btn {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--seconday-color);
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  gap: 5px;
}

.right-side-menu > button > span {
  color: var(--seconday-color);
}

.right-side-menu > span {
  color: var(--primary-color);
}

.menu-hamburger {
  display: none;
  filter: brightness(20%);
  width: 40px;
  height: 40px;
}

@media (max-width: 999px) {
  .nav-list,
  .right-side-menu {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
}

/* HERO DIVIDIDO EN DOS Parte IZQ. info, Parte DRCHA IMÁGENES DE PODCASTS */

/* pongo margin y padding para que no se solape con el navbar*/
main {
  position: relative;
  margin-top: 12%;
  padding: 20px;
}

/* le pongo display flex para que quede la (info.) parte IZQ. e (imágenes) parte DRCHA  queden en row*/
.hero {
  display: flex;
}

.hero-info {
  max-width: 500px;
}

/* Títulos de la parte IZQ.*/
h1 {
  font-size: 45px;
  margin-bottom: 48px;
  line-height: 1;
}

h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 48px;
}
/* button del hero de la parte IZQ. */
.trial-btn {
  background-color: var(--primary-color);
  color: var(--seconday-color);
  border: none;
  padding: 17px 50px;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

/* ul, li del hero de la parte IZQ.*/
ul.service-characteristics {
  font-weight: 500;
  font-size: 15px;
}

ul.service-characteristics > li {
  margin: 16px;
}

ul.service-characteristics li:before {
  content: "☑️";
  background-color: var(--primary-color);
  border-radius: 50px;
  margin: 10px 10px;
}

/* Estilos del hero de la parte DRCHA */
.podcasts-gallery-imgs > img {
  width: 80px;
  height: 80px;
}
